.carousel {
  border: 1px solid saddlebrown;
  position: relative;
  width: 400px;
  height: 200px;
  margin: 20px auto 0;
  background-color: #eee;
  overflow: hidden;
}

.carousel .img-ct {
  position: absolute;
  display: flex;
}

.carousel .img-ct li a img {
  width: 400px;
  height: 200px;
}

.carousel .iconfont {
  position: absolute;
  top: calc(50% - 24px);
  font-size: 32px;
  color: #fff;
  opacity: 0.6;
  cursor: pointer;
}

.carousel .iconfont:hover,
.carousel .bullet li:hover {
  opacity: 1;
}

.carousel .iconfont.icon-arrow-left {
  left: 4px;
}

.carousel .iconfont.icon-arrow-right {
  right: 4px;
}

.carousel .bullet {
  position: absolute;
  display: flex;
  bottom: 4px;
  right: calc(50% - 76px);
}

.carousel .bullet li {
  border: 1px solid deeppink;
  border-radius: 20px;
  margin-left: 8px;
  padding: 5px 15px;
  opacity: 0.7;
  cursor: pointer;
}

.carousel .bullet li.active {
  background-color: deeppink;
}